body
{background: gold;
    border: 10px solid #ffdd26;
    background: none repeat scroll 0 0 #FFFFFF;
    /* закругляем углы */
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    /* добавляем тени для блока*/
    -webkit-box-shadow: 0 0 5px #CCCCCC, 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset, 0 0 15px #DDDDDD inset;
    -moz-box-shadow: 0 0 5px #CCCCCC, 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset, 0 0 15px #DDDDDD inset;
    box-shadow: 0 0 5px #CCCCCC, 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset, 0 0 15px #DDDDDD inset;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 10px;
    text-align: left;
    /* устанавливаем необходимую ширину формы в зависимости от дизайна
     ** форма отлично растягивается */
    width: 100%;
    max-width: 600px;
}


button{
    background: gold;
    color: gold;
    font-size: 18px;
    border-width: 0;
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

button:hover
{background: #dcd9d9
}